@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
    --light-bg: #efefef;
}

/* CONFIGURAÇÕES GERAIS */

* {
    font-family: "Comic Neue", cursive;
}

main {
    align-items: center;
    justify-content: center;
    display: flex !important;
    height: 100dvh;
    flex-direction: column;
}

button {
    cursor: pointer;
    border: none;
    padding: 16px;
}

button:hover {
    background-color: rgb(184, 184, 184);
    transition: background-color 0.3s ease-in-out;
}

.d-none {
    display: none;
}

/* INDEX */
.center-div {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cave-btn {
    border-radius: 5px 5px 0 0;
    padding: 10px 48px;
    background: rgb(13, 99, 56);
    background: linear-gradient(
        180deg,
        rgb(10, 73, 42) 0%,
        rgb(164, 74, 14) 32%
    );
    color: white;
    font-size: larger;
    font-weight: 600;
}
.cave-btn:hover {
    background: rgb(13, 99, 56);
    background: linear-gradient(
        180deg,
        rgb(7, 48, 27) 0%,
        rgb(119, 54, 10) 32%
    );
}

/* DASHBOARD */
.dash-title {
    display: flex;
    gap: 10px;
}

.dashboard-header {
    padding: 10px;
    position: absolute;
}

.dashboard-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item-dash {
    padding: 6px 0;
    display: flex;
    gap: 10px;
}

.btn-dash {
    height: 100%;
    padding: 25px;
    background-color: green;
    border-radius: 9px;
    color: white;
}

.btn-dash:hover {
    background-color: darkgreen;
}

.btn-dash.disabled {
    background-color: darkgreen;
    cursor: auto;
}
